{%extends 'gallery/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">

  <!-- Looping through news   -->
  {% for image in images %}

  <div class="row">

    <!--Display news Article images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{image.image.url}}" class="img-responsive img-thumbnail" alt="Image">
      <h2><a class="text-center" href="/article/{{ news_item.id }}" > {{ image.name }} </a></h2>

    </div>

  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">Oops no photos here yet</h2>
  </div>

  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Photo Details</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="quote"
              name="quote"
              [(ngModel)]="newQuote.quote"
              placeholder="Dreamers do not sleep"
            />
            <label for="quote">Quote</label>
            <div id="textHelp" class="form-text">
              Your timeless quote goes here
            </div>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="author"
              name="author"
              [(ngModel)]="newQuote.author"
              placeholder="Nelson Mandela"
            />
            <label for="floatingInput">Author</label>
            <div id="emailHelp" class="form-text">Credit the awesome mind</div>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="publisher"
              name="publisher"
              [(ngModel)]="newQuote.publisher"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Publisher</label>
            <div id="emailHelp" class="form-text">Your name here</div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Publish Quote</button>
          </div>
        </div>
        <div class="modal-footer d-flex align-items-center justify-content-end">
          <button
            type="button"
            class="btn btn-danger"
            type="button"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}

</div>

{% endblock %}